*, *:before, *:after {box-sizing: border-box; -moz-box-sizing:	 border-box;} *:before, *:after { position: absolute; }

html, body { font-family: Arial, open sans; font-size:1em; line-height:1.4; height:100%; margin:0 auto; }

body{ overflow-x:hidden; background: #fff; }

a{ text-decoration:none; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }

textarea { resize:vertical; }

ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }

.clearfix:before, .clearfix:after { content:""; display: table; }
.clearfix:after { clear: both; }
.clearfix { clear: both; overflow: hidden; }

.comp{ color:#615858; font-weight:bold; }
.comingsoon{color:red; font-style:italic; font-weight:bold; }
.fleft{ float:left; }
.fright{ float:right;padding:10px;}
.fleft-img{ float:left; margin: 5px 20px 0px 0; }
.fright-img{ float:right; margin: 8px 0 0 12px; }
.wrapper{ width:100%; max-width: 1000px; margin:0 auto; position:relative; }
.col_2{ column-count:2; -webkit-column-count:2; -moz-column-count:2; }
.list-numbers li{  list-style-type:decimal;}
.service{ width: 329px;float:left; margin-bottom: 20px;display:inline-block;}

/* Header Area Config*/
#page-header{ position: relative; height: 147px; }	

	.complogo{ display: block; max-width: 232px; width: 100%; position: absolute; z-index: 9; margin: 0 auto; left: 0; right: 0; top: 72px; }
	.complogo img{ width: 100%; }

	.headcon{ position: absolute; width: 100%; top: 100px; }
	.headcon ul li{ position: relative; display: inline-block; vertical-align: top; font: bold 23px arial; color: #752727; padding-left: 30px; }
	.headcon ul li.con1{ width: 250px; float: left; margin-top: -31px; }
	.headcon ul li.con1:before{ content: url(images/call-ico.png); left: 4px; top: 3px; }
	.headcon ul li.con2{ float: right; width: 207px; }
	.headcon ul li.con2:before{ content: url(images/call-ico2.png); left: 0; top: 1px; }

/* Navigation Area Config */
nav{ position: absolute; text-align: center; background: #4c83a6; height: 69px; top: 0; width: 100%; z-index: 9; }
nav ul li{ display:inline-block; position:relative; vertical-align: top; margin: 0 -2px; }
nav ul li a{ display: block; width: 146px; font-size: 16px; line-height: 69px; color: #fff; background: url(images/navbg.jpg) repeat-y; }
nav ul li a:hover, nav ul li.current_page_item a{ color: #4c83a6; background: #fff !important; }
nav ul li:first-child a{ background: none; }

	nav ul li:hover > ul{ display:block; }
	nav ul ul{ display:none; position:absolute; left:0; top:100%; z-index:999; width: 284px; background:#fff; border-top: 1px solid #a3a3a3; padding-top: 3px; }
	nav ul ul li{ display:block; margin: 0 0 3px !important; }
	nav ul ul li:after{ content:""; }
	nav ul ul li a{ text-align:left; width: 100%; padding:5px 5px 5px 32px !important; font-size: 14px; line-height:23px !important; color:#444444; background: #f1f1f1 !important; border-bottom: 1px solid #a3a3a3; }

	nav ul li.current_page_item li a{ color:#000; }
	nav ul li.current_page_item a > ul li a:hover, nav ul ul li.current_page_item a, nav ul ul li a:hover, nav ul ul li.current_page_item a{ background: #3978a2 !important; color:#fff; }

	nav ul ul ul{ left:100%; top:0px; } 

/* Drop down icon */
nav li span{ position:absolute; font-size:12px; right:0; top:5px; z-index:9999; cursor:pointer; display:none; color:#fff; }

/* Navigation bar icon */
.nav-toggle-button{ width:100%; display:none; color:#fff; cursor:pointer; margin:0 auto; padding:10px 15px; text-align:right; }
.nav-toggle-button .fa{ display:block; }

/* Banner Area Config */
#banner{ height: 645px; background: url(images/bannerbg.png) no-repeat center top; }

	.slideshow{ width: 414px; height: 414px; float: right; position: relative; margin: 114px 62px 0 0; }
	.slogan{ width: 100%; text-align: center; height: 75px; background: url(images/sloganbg.png) no-repeat center top; position: absolute; bottom: 15px; left: 0; font: 16px/72px courgette; color: #fff; z-index: 9; }

	.bannerdet{ width: 389px; float: left; color: #fff; text-align: center; margin: 195px 0 0 61px; }
	.bannerdet h2{ font: 48px/50px courgette; }
	.bannerdet h2 span{ display: block; font-size: 38px; }
	.bannerdet p{ margin: 25px 0 0; font-size: 13px; line-height: 26px; }
	.bannerdet a{ display: block; font: bold 17px/37px arial; margin: 25px auto; color: #fff; width: 180px; height: 37px; position: relative; border-radius: 5px; padding-left: 23px; background: #4c83a6; text-align: left; }
	.bannerdet a:after{ content: url(images/banbtnbe.png); right: 0; top: 2px; }
	.bannerdet a:hover{ background: #1c8fd9; }
 	 
/* middle config */
#mid{ position: relative; text-align: center; padding: 25px 0 58px; margin-top: -93px; }
 	
 	.midbox{ display: inline-block; vertical-align: top; max-width: 320px; width: 100%; height: 304px; color: #fff; background: url(images/midbg.png); position: relative; text-align: left; padding: 75px 30px 0 72px; }
 	.midbox:before{ content: url(images/midimg1.png); right: -21px; top: 14px; }
 	.midbox2:before{ content: url(images/midimg2.png); }
 	.midbox3:before{ content: url(images/midimg3.png); }
 	.midbox h2{ line-height: 23px; font-weight: normal; font-size: 20px; }
 	.midbox h2 span{ display: block; font-weight: bold; font-size: 24px; }
 	.midbox p{ margin: 29px 0; font-size: 13px; line-height: 24px; }
 	.midbox a{ display: block; width: 179px; height: 57px; margin: 0 auto 0; background: url(images/midbtn.png) no-repeat; font: 20px/70px arial; color: #fff; text-align: center; position: relative; top: 27px; }
 	.midbox a:hover{ background:url(images/midbtnho.png) no-repeat; color: #541515; }

 	.midbox1{ float: left; }
 	.midbox3{ float: right; }

/* Main Content Area Config */
#main-wrapper{ position:relative; padding: 10px 0 20px; }

	.page-content{ width: 658px; float: right; font-size: 15px; color: #615858; line-height: 30px; margin-top: 6px; text-align: justify; }

	.maincontents h1{ margin-bottom: 23px; text-align: left; font-weight: normal; font-size: 22px; color: #5d1919; line-height: 23px; }
	.welcome{ display: block; font-size: 18px; color: #615858; }

	.maincontents ul{ text-align:left;list-style:none; }
	.maincontents ul li{ background:url(images/bullet-icon.png) no-repeat left 7px; padding:0px 0px 0px 25px; text-align:left; }

	.maincontents a{font-weight:bold; color:#0941b7;position:relative;}
	.maincontents a:hover{ text-decoration:underline; }

	.maincontents ul.homelist{ padding-left: 70px; padding-top: 12px; }
	.maincontents ul.homelist li{ background: url(images/homeico.png) no-repeat left 6px; padding-left: 45px; padding-bottom: 20px; }
	.maingcontents img{padding:10px;}

	.our-mission h2{ text-align: left; font: 18px/22px arial; color: #615858; }
	.our-mission h2 span{ display: block; font-size: 22px; color: #591717; }
	.our-mission a{ font-weight: normal; color: #615858; font-style: italic; }
	.our-mission a:hover{ color: #a02000; font-weight: bold; text-decoration: none; }
	
	/* sidebar config */
	#sidebar{ width: 320px; float: left; }

	.sidetabs h2{ display: block; height: 81px; background: url(images/servbg.png) no-repeat; padding: 11px 0 0 24px; position: relative; font: 18px/20px arial; color: #fff; margin-bottom: -20px; } 
	.sidetabs h2 span{ display: block; font-size: 22px; } 
	.sidetabs h2:after{ content: url(images/servico.png); right: 21px; top: 10px; } 
	.sidetabs ul li a{ display: block; height: 44px; margin-top: 4px; padding: 0 0 0 67px; font: 18px/44px arial; color: #fff; position: relative; background: url(images/sidetab.png) no-repeat center top; z-index: 9; }
	.sidetabs ul li a:hover{cursor:default;}
	/* .sidetabs ul li a:hover, .sidetabs ul li.current_page_item a{ background-position: center bottom; color: #691f1f; }  */
	.sidetabs ul li a:before{ content: url(images/sidebe.png); left: 35px; top: 0px; } 
	/* .sidetabs ul li a:hover:before, .sidetabs ul li.current_page_item a:before{ content: url(images/sidebeho.png); } */
	.sidetabs ul li:last-child a{ margin-bottom: -30px; }

	.sidebottombox{ height: 48px; background: #27a2f1; position: relative; }

	.sidetabs2{ margin-top: 16px; } 
	.sidetabs2 ul li a{ display: block; height: 86px; margin: 3px auto; padding: 19px 0 19px 19px; font: 18px/20px arial; color: #fff; position: relative; background: url(images/sidetab2.jpg) repeat-x center top; border-radius: 8px; } 
	.sidetabs2 ul li a:hover, .sidetabs2 ul li.current_page_item a{ background-position: center bottom; } 
	.sidetabs2 ul li a:before{ content: url(images/sideico2.png); right: 25px; top: 18px; } 
	.sidetabs2 ul li a:hover:before, .sidetabs2 ul li.current_page_item a:before{ content: url(images/sideico2ho.png); } 
	.sidetabs2 ul li a span{ display: block; font-size: 24px; } 

/* Bottom Area Config */
/*#bottom{ position: relative; height: 291px; text-align: center; background: #e9f6ff; }*/
#bottom {
    position: relative;
    height: 291px;
    text-align: center;
    background: #30323e;
    color: white;}


.maincontents{
    
    background-color: azure;
    padding: 20px;
    
}







	.bottombox{ max-width: 320px; width: 100%; display: inline-block; vertical-align: top; text-align: left; }

	.areas-covered{ padding-top: 25px; }
	.areas-covered{ font: 13px/22px arial;     color: #9fa0a3; }
	.areas-covered h2{ font: 18px/22px arial;     color: #ffffff; }
	.areas-covered h2 span{ display: block; font-size: 24px; }
	.areas-covered p{ margin: 20px 0; }
	.areas-covered ul{ width: 85px; display: inline-block; vertical-align: top; }
	.areas-covered ul li{ display: block; padding: 0 0 4px 12px; position: relative; }
	.areas-covered ul li:before{ content: "â€¢"; left: 0; top: 0; }
	.areas-covered a{ width: 104px; height: 27px; background: #27a2f1; display: block; border-radius: 3px; margin-top: 15px; padding-left: 15px; color: #fff; line-height: 27px; position: relative; }
	.areas-covered a:hover{ background: #670d0d; }
	.areas-covered a:after{ content: url(images/areasbe.png); right: 13px; top: 0; }

	.bottomlogo{ float: left; margin-top: 39px; }
	.bottomlogo img{ display: block; max-width: 265px; margin: 0 auto; width: 100%; }

	/*.contactinfo{ float: right; background: #fff; height: 291px; padding: 30px 5px 0 17px; font-family: arial; color: #615858; }*/
    .contactinfo {
    float: right;
    color: #c7c7c7;
    height: 291px;
    padding: 30px 5px 0 17px;
    font-family: arial;
    background: #30323f;
}
	.contactinfo h2{ font: 20px arial; }
	.contactinfo p{ font-style: italic; font-size: 13px; }
	.contactinfo ul{ margin-top: 33px; display: block; }
	.contactinfo ul li{ display: block; white-space: pre-line; padding-left: 35px; position: relative; font-size: 14px; margin: 21px 0; line-height: 22px; }
	.contactinfo ul li:before{ content: url(images/add-ico.png); left: 0; top: 9px; }
	.contactinfo ul li:nth-child(2):before{ content: url(images/phone-ico.png); top: 10px; }
	.contactinfo ul li:nth-child(3):before{ content: url(images/mail-ico.png); left: 3px; top: 2px; }
	.contactinfo ul li a{ color: #615858; }
	.contactinfo ul li a:hover{ color: #a02000; font-weight: bold; }

/* Footer Area Config */
.footerbottom{ clear:both; height: 23px; background: #e9f6ff; position: relative; }
footer{     background: #000; padding: 15px 8px 15px; font: 13px/22px arial; color: #fff; text-align: center;}

	.socials {
    position: absolute;
    right: 200px;
        top: 22px;}
	.socials li{ display: inline-block; margin: 0 1px; padding: 0px !important;}
	.footernav ul li{ display: inline-block; position: relative; }
	.footernav ul li a{ display: block; padding: 0 4px; color: #fff; }
	.footernav ul li:after{ content: "â€¢"; right: -4px; top: 0; }
	.footernav ul li:last-child:after{ content: ""; }
	.footernav ul li a:hover, .footernav ul li.current_page_item a{ text-decoration: underline; }
	.footernav ul li:first-child a{ padding-left: 0; }

	.copyright a{ color:#fff; }
	.copyright a:hover{ text-decoration:underline; }

/* search */
.search_results div.page, .search_results div.post{ padding:15px 15px 15px; border:1px solid #E5E5E5; border-bottom:2px solid #C4C4C4; background:#fff; margin:10px 0; color:#000; -ms-border-radius:4px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.1); box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.1); }.search_results h2 a{ text-decoration:none; }.search_results div.entry-meta{ font-style:italic; }.search_results a{ color:#333; }.search_results a:hover{ text-decoration:none; color:#0964BF;}
	
/*resources*/
.resources{font-size:14px;margin-top:20px}.resources a{color:#204886;text-decoration:none;display:block;font-weight:700}.resources a:hover{color:#d12727;text-decoration:none}.resources li,.resources ul{list-style-type:none;margin:0;padding:0}.resources ul li{margin-bottom:8px;padding:12px;background:#fff;border:1px solid #d72525;border-bottom:2px solid #d72525}

/* IE 7 */
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}.inner-message img{position:relative;left:3em}.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}.terms a{color:#fff;font-weight:700}.lt-ie8 .protect-me{display:none}

/* Author: Control Number 13 */

/*resources*/
.resources {width:100%; height:auto; text-align:left !important; margin:20px auto 20px auto;}
	.resources a {color:#133389; text-decoration:none; display:block; font-weight:bold;}
	.resources a:hover {color:#E32723; text-decoration:none; padding-left:10px;}
	.resources ul,.resources li {list-style-type:none; list-style:none; margin:0; padding:0;}
	.resources ul li {list-style-image:none !important; margin-bottom:8px; padding:12px; background:#FAFDFE; border:1px solid #ACD7D6; border-bottom:2px solid #95CCCB;}
	.resources ul li span {font-size:11px; color:#666; letter-spacing:1px;}